.container{
    text-align: center;
    vertical-align: center;
    float: center;
    margin-left: 45%;
}

.name{
    vertical-align: middle;
    margin-left: -1%;
}

.ability{
    position: relative;
    vertical-align: middle;
}

.pic{
    margin-left: 45%;
}